<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<h1>EQUITY EXPRESS</h1>
<h2>Navigate to one of the pages below</h2>
    <a href="/">Home</a> |
    <a href="/customers">Customers</a> | 
    <a href="/employees">Employees</a> | 
    <a href="/stocks">Stocks</a> | 
    <a href="/stock-orders">Stock Order</a> | 
    <a href="/vendors">Vendors</a> |
    <a href="/blotters">Blotters</a> |
    <a href="/employees_blotters">Employee Blotters</a>
    <br><br>
<body>

    {{{body}}}

</body>
</html>