<!-- index.hbs -->
{{!-- Create the index table using standard html --}}   
<table style="width: 60%;">
    <tr>
        <td style><a style = "text-decoration:none;" href="/customers"><b>Customers</b></a></td>
        <td>Here you may view, add, update, & delete customers</td>
    </tr>
    <tr>
        <td><a style = "text-decoration:none;" href="/employees"><b>Employees</b></a></td>
        <td>View, add, update, & delete employees</td>
    </tr>
    <tr>
        <td><a style = "text-decoration:none;" href="/stock-orders"><b>Stock Orders</b></a></td>
        <td>Here you may view, add, update, and delete a stock order</td>
    </tr>
    <tr>
        <td><a style = "text-decoration:none;" href="/blotters"><b>Blotters</b></a></td>
        <td>View and create Blotter reports. May update reports and delete</td>
    </tr>
    <tr>
        <td><a style = "text-decoration:none;" href="/vendors"><b>Vendors</b></a></td>
        <td>Here you may view, add, delete, and update vendors of stocks</td>
    </tr>
    <tr>
        <td><a style = "text-decoration:none;" href="/stocks"><b>Stocks</b></a></td>
        <td>View, add, update, and delete stocks from stock inventory</td>
    </tr>
    <tr>
        <td><a style = "text-decoration:none;" href="/employees_blotters"><b>Employee Blotter Assignments</b></a></td>
        <td>View and create assignments from Employees to reports. Can unassign and update reports as well as delete</td>
    </tr>
</table>